# .gitignore for Grails 1.2 and 1.3
# Although this should work for most versions of grails, it is
# suggested that you use the "grails integrate-with --git" command
# to generate your .gitignore file.
jrebel.jvm.args
scs.sql
src/main/java/com/ys/scs/test/*.java


build
.gradle
.svn
.idea
target
logs
out
stacktrace.log
lib
!solr/extra/lib
classes
*.class
**/*.class

# default HSQL database files for production mode
/prodDb.*

# general HSQL database files
*Db.properties
*Db.script

# project release file
/*.war

# plugin release files
/*.zip

# older plugin install locations
/plugins
/web-app/plugins

# "temporary" build files
/target 

hs_err_pid*
.DS_Store

*.iml

## Directory-based project format:
## File-based project format:
*.ipr
*.iws

## Plugin-specific files:

# IntelliJ

**/out/


# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml
rebel.xml

.classpath
.project

/docker/sun-jdk-8/jdk-8u181-linux-x64.tar
/docker/sun-jdk-10/jdk-10.0.2_linux-x64_bin.tar